# Class 1 - introduction to Python

To start coding one must:
- Open command prompt (black terminal),
- Type **jupyter notebook**,
- Wait until it is shown in the borwser and open new notebook.
- P.S. to run the code just press **shift+enter** on the keyboard.

In this lecture different data types in Python are covered (integers, float, string and list), as well as the 3 main building blocks were introduced (for loop, while loop, if/else statements).

**Definitions**
- Integer - just an integer number (without decimal points, e.g. 5),
- Float - A nubmer that can both be an integer and have decimal points (e.g. 5.5),
- String - text, which should always be inside quotes (single or double, not important),
- List - collection of any type of elements (strings, floats etc.), is defined by **[ ]**

- For loop - automates whatever is written inside for the mentioned number of times (like dragging down in Excel),
- While loop - automates whatever is written inside while a condition is satisfied (like double-clicking in Excel),
- If/else - checks conditions and performs actions accordingly (like IF in Excel).

**Some functions covered below are:**
- print() - prints the content,
- type() - checks the type of the given argument (list or string etc.)
- range() - creates range of integers (e.g. range(5) will provide integetrs from 0 to 5)

Users can also create functinos by using **def** keyword. One may want to create functinos to use them in future with different arguments, like we did with **Superify()**.

**Some notes:**
- It is important to always check and learn the type of the variable, as othjerwise to may not know what functinos you can or cannot use.
- One can merge strings in python by just putting **+** in between.
- **=** sign assigns values on the right to the left, so to check a condition inside if/else, one needs to put **==**.
- Enumeration in Python starts from 0, i.e. the first element in the list is element with idnex 0.
- To select all elements in the list until element 5 (5 in Pythonic, 6 in humanoid terms), one should put the list name and **[0:6]**.
- **i** inside a for loop is a temporary variable, you may call it anything else, just be consistent inside the loop.
- Tabulation is important: loops will not work if the loop content is not tabulated forward by 4 spaces.


Below is the classroom code with classroom comments, nothing additionals.

In [7]:
# +, -, *, /, **, %
print(5+5)
print(5-5)
print(5*5)
print(5/5)
print(5**5)
# % sign stands for modulus and calculates reminder after division
print(5%5)

10
0
25
1.0
3125
0

In [13]:
my_var = 5.05

In [14]:
print(my_var)

5.05

In [15]:
type(my_var)

float

In [23]:
first_name = 'Hrant '
last_name = "Davtyan"
type(first_name)

str

In [25]:
full_name = first_name + " " + last_name
print(full_name)

Hrant  Davtyan

In [28]:
float("5")

5.0

In [30]:
int(5.8)

5

In [31]:
my_list = [first_name,last_name,my_var]
print(my_list)

['Hrant ', 'Davtyan', 5.05]

In [32]:
type(my_list)

list

In [33]:
names = ["John","Jack","James","Jimmy"]

In [34]:
names[0] #slelects very first element of the list

'John'

In [35]:
names[-1]

'Jimmy'

In [39]:
names[1:3]

['Jack', 'James']

In [40]:
len(names)

4

In [41]:
names.append("Joroh")

In [42]:
print(names)

['John', 'Jack', 'James', 'Jimmy', 'Joroh']

In [43]:
names.sort()

In [44]:
print(names)

['Jack', 'James', 'Jimmy', 'John', 'Joroh']

In [46]:
full_name[0]

'H'

In [61]:
full_name = full_name.upper()

In [62]:
print(full_name)

HRANT  DAVTYAN

In [64]:
full_name.find("T")

4

In [65]:
# print(), len(), type(), append()
# find(), sort(), upper()

In [68]:
range(1,10,2) # range(start,end,step)

range(1, 10, 2)

In [72]:
for each_name in names:
    print("Super" + " " + each_name)

Super Jack
Super James
Super Jimmy
Super John
Super Joroh

In [74]:
for i in range(1,10,2):
    print(i**3)

1
27
125
343
729

In [ ]:
#for - make names uppercase
#while - same
#if/else - print male/female names
#def - superify, classify name gender

In [79]:
names_up = []
for i in names:
    names_up.append(i.upper())

In [80]:
print(names_up)

['JACK', 'JAMES', 'JIMMY', 'JOHN', 'JOROH']

In [83]:
i=1
while i<10:
    print(i**3)
    i = i + 2

1
27
125
343
729

In [84]:
full_names = ['Jack', 'James', 'Jimmy', 'John', 'Joroh',
              "Kate","Karen","Kim","Kristine","Kathred"]

In [91]:
if 3>3:
    print("Greater")
elif 3==3:
    print("Equal")
else:
    print("Smaller")

Equal

In [96]:
name = "Jack"
if name[0]=="J":
    print("Male")
elif name[0]=="K":
    print("Female")
else:
    print("I don't know")

Male

In [98]:
for i in full_names:
    if i[0]=="J":
        print("Male")
    elif i[0]=="K":
        print("Female")
    else:
        print("I don't know")

Male
Male
Male
Male
Male
Female
Female
Female
Female
Female

In [99]:
def sq(num):
    return num**2

In [102]:
sq(100)

10000

In [103]:
def superify(text):
    return "Super"+text

In [108]:
superify("start")

'Superstart'

In [109]:
def gender_detector(name):
    if name[0]=="J":
        return "Male"
    elif name[0]=="K":
        return "Female"
    else:
        return "I don't know"

In [112]:
gender_detector("Hellen")

"I don't know"

In [114]:
import numpy

In [115]:
numpy.sqrt(25)

5.0

In [116]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!